
.card{
    width: 70%;
    margin: 1rem 0;
}

.card img{
    width: 100%;
}

.cardDescription{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
}

.cardDescription h1{
    font-weight: 700;
    margin: 0;
    text-align: left;
    font-size: 2rem;
}

.cardDescription p{
    text-align: left;
   
}
.cardText{
    margin-left:3rem;
    width: 100%;
    text-align: left;
}

.buttonCustom{
    border: none;
    color: white;
    border-radius: .25rem;
    background-color: red;
    box-sizing: border-box;
    padding: .5rem 1rem;
    font-weight: 700;
    align-items: left;
    align-items:start;
    margin-top: 1rem;   
}

@media screen and (max-width:400px) {
    .card{
        width: 100%;
        box-sizing: border-box;
        padding: 0 1rem;
    }
    .cardDescription{
        display: block;
    }
    .cardText{
        margin: 2rem 0
    }
}