.Header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.menuBar{
    display: none;
}

@media screen and (max-width:400px) {
    .menuBar{
        display: inline;
    }
    
    
}

